<div class="my-8 mx-10 flex justify-between items-center">
  <h3 class="text-2xl ">My Favorite books</h3>
</div>
<div class="overflow-x-auto mx-10">
  <table class="table">
    <thead>
    <tr>
      <th class="text-[16px]">
        ID.
      </th>
      <th class="text-[16px]">Title</th>
      <th class="text-[16px]">Author</th>
      <th class="text-[16px]">ISBN</th>
      <th class="text-[16px]">Rating</th>
      <th class="text-[16px]">Owner</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let favorite of favoriteResponse.content! |
          paginate: {
          itemsPerPage: size,
          currentPage: page,
          totalItems: favoriteResponse.totalElements
    }">
      <th>
        <label>
          {{ favorite.id }}
        </label>
      </th>
      <td>
        <div class="flex items-center gap-3">
          <div class="avatar">
            <div class="mask mask-squircle h-12 w-12">
              <img
                [src]="favorite.coverImage ? 'data:image/jpg;base64, ' + favorite.coverImage : '/assets/images/noCoverImgIcon.jpg'"
                alt="Avatar Tailwind CSS Component" />
            </div>
          </div>
          <div>
            <div class="font-bold text-[16px] line-clamp-1">{{ favorite.title }}</div>
          </div>
        </div>
      </td>
      <td>
        <div class="text-[16px] line-clamp-1">
          {{favorite.author}}
        </div>
      </td>
      <td class="text-[16px]">{{favorite.isbn}}</td>
      <td>
        <app-rating [rate]="favorite.rate || 0" />
      </td>
      <td class="text-[16px]">{{favorite.owner }}</td>
      <th class="flex items-center justify-evenly gap-2">
        <div class="tooltip" data-tip="Remove from favorite">
          <button class="btn btn-error btn-sm" (click)="onRemove(favorite.id)">
            <i class="text-white fas fa-trash-can"></i>
          </button>
        </div>
      </th>
    </tr>
    </tbody>
  </table>
</div>

<div class="mt-5 mb-10 flex justify-center items-center">
  <pagination-controls (pageChange)="pageChange($event)" [responsive]="true"></pagination-controls>
</div>
