<h3 class="text-center text-2xl my-8">All available books in BSN</h3>
<div class="form-control flex justify-center items-center mb-10">
  <input type="text" placeholder="Search" class="input input-bordered w-[230px] md:w-[300px]" />
</div>

<div class="grid grid-cols-4 gap-8 px-10 my-10">
  <app-book-card
    (borrow)="borrowBook($event)"
    (feedback)="onFeedback($event)"
    (edit)="onEdit($event)"
    [book]="book" *ngFor="let book of bookResponse.content! |
    paginate: {
    itemsPerPage: size,
    currentPage: page,
    totalItems: bookResponse.totalElements
    }"
    [manage]="book.ownerId === userId"
  />
</div>

<app-feedback-modal (rating)="onFeedbackRating($event)" [book]="selectedBookForFeedback"/>

<div class="mt-5 mb-10 flex justify-center items-center">
  <pagination-controls (pageChange)="pageChange($event)" [responsive]="true"></pagination-controls>
</div>
