<div class="my-8 mx-10 flex justify-between items-center">
  <h3 class="text-2xl ">My Book lists</h3>
  <button [routerLink]="['/books/create']" class="btn btn-primary text-[16px] md:text-lg">
    <i class="fas fa-plus-circle"></i>
    Create new book
  </button>
</div>

<div class="grid grid-cols-4 gap-8 px-10 my-10">
  <app-book-card
    [manage]="true"
    (share)="onShare($event)"
    (archive)="onArchive($event)"
    (edit)="onEdit($event)"
    (delete)="onDelete($event)"
    [book]="book" *ngFor="let book of bookResponse.content! |
    paginate: {
    itemsPerPage: size,
    currentPage: page,
    totalItems: bookResponse.totalElements
    }" />
</div>

<div class="mt-5 mb-10 flex justify-center items-center">
  <pagination-controls (pageChange)="pageChange($event)" [responsive]="true"></pagination-controls>
</div>
