<div class="mt-5">
  <div class="px-10 mx-auto w-full md:w-[780px] lg:w-[1000px] flex
   flex-col md:flex-row md:justify-between md:items-start items-center gap-10">
    <div>
      <img
        [src]="selectedImage || '/assets/images/noCoverImgIcon.jpg'"
        alt="book cover"
        class="w-[250px] h-[230px] md:w-[280px] md:h-[260px]"
      />
    </div>
    <div class="flex-1">
      <h2 class="text-2xl font-bold">{{ book.title }}</h2>
      <p class="mb-1 text-lg">Author: {{ book.author }}</p>
      <p class="mb-1 text-lg">ISBN: {{ book.isbn }}</p>
      <div class="mb-1 text-lg flex items-center gap-1">
        <span>Rating: </span>
        <app-rating [rate]="book.rate || 0"/>
      </div>
      <p class="mb-1 text-lg">Owner: {{ book.owner }}</p>
      <hr>
      <p class="mt-1 text-lg">
        {{ book.synopsis }}
      </p>
      <div *ngIf="!isAuthUser" class="flex items-center justify-between gap-3 mt-5" >
        <div class="tooltip" data-tip="Borrow">
          <button (click)="onBorrow()" class="btn btn-sm">
            <i
              class="fas fa-list-check text-[20px] text-blue-600"
            ></i>
          </button>
        </div>
        <div class="tooltip" data-tip="Feedback">
          <button (click)="onFeedback()"  onclick="feedback_modal.showModal()" class="btn btn-sm">
            <i
              class="fas fa-comment text-[20px] text-pink-600"
            ></i>
          </button>
        </div>
        <div class="tooltip" data-tip="Favorite">
          <button (click)="onFavorite(book.id)" class="btn btn-sm">
            <i
              class="fas fa-heart text-[20px] text-red-600"
            ></i>
          </button>
        </div>
      </div>
      <div *ngIf="isAuthUser" class="flex items-center justify-between gap-3 mt-5" >
        <div class="tooltip" data-tip="Edit">
          <button (click)="onEdit()" class="btn btn-sm">
            <i
              class="fas fa-edit text-[20px] text-blue-600"
            ></i>
          </button>
        </div>
        <div class="tooltip" data-tip="Share">
          <button (click)="onShare()" class="btn btn-sm">
            <i
              class=" fas fa-share-nodes text-[20px] text-green-600"
            ></i>
          </button>
        </div>
        <div class="tooltip" data-tip="Archive">
          <button (click)="onArchive()" class="btn btn-sm">
            <i
              class="fas fa-archive text-[20px] text-yellow-600"
            ></i>
          </button>
        </div>
        <div class="tooltip" data-tip="Delete">
          <button (click)="onDelete()" class="btn btn-sm">
            <i
              class="fas fa-trash-can text-[20px] text-red-600"
            ></i>
          </button>
      </div>
    </div>
  </div>
</div>
<app-feedback-modal (rating)="onFeedbackRating($event)" [book]="selectedBookForFeedback"/>

