<div class="navbar bg-base-100 shadow shadow-gray-300 px-10">
  <div class="flex-1">
    <a [routerLink]="['/books']" class="text-xl hover:text-primary">BSN</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a [routerLink]="['/books']" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
      <li><a [routerLink]="['/books/my-books']" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}">My Books</a></li>
      <li><a [routerLink]="['/books/favorite']" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}">Favorite</a></li>
      <li><a [routerLink]="['/books/returned']" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}">Returned</a></li>
      <li><a [routerLink]="['/books/borrowed']" [routerLinkActive]="'active-link'" [routerLinkActiveOptions]="{exact: true}">Borrowed</a></li>
    </ul>
  </div>
  <div class="flex-none gap-2">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full" *ngIf="userResponse.profilePicture">
          <img [alt]="userResponse.firstName" [src]="userResponse.profilePicture" />
        </div>
        <div class="bg-neutral text-neutral-content w-10 rounded-full" *ngIf="!userResponse.profilePicture">
          <span class="text-3xl">{{userResponse.firstName?.charAt(0)}}</span>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li [routerLink]="['/books/profile/me']">
          <a class="justify-between">
            {{ userResponse.lastName ? userResponse.firstName + " " + userResponse.lastName: userResponse.firstName }}
          </a>
        </li>
        <li><a class="text-red-400" (click)="onLogout()">Logout</a></li>
      </ul>
    </div>
  </div>
</div>
